.form-group{
    float:left;
    width: 100%;
    margin-bottom: 15px;
}
.form-group input{
    float:left;
    width: 100%;
    margin-top: 5px;
    height: 35px;
    margin-bottom: 5px;
    color: aqua;
}
.form-group input[type="email"]{
color:chartreuse;
}