*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{/*set sẵn màu cho hover,link*/
        color:rgb(158, 157, 157);
}
body{
    background-color: rgb(255, 255, 255);
    color:rgb(4, 3, 3);
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    text-align: left;
}
p{
    margin-bottom: 0.75;
}
/* layout */
/* style cho section*/
.section{
    float: left;
    width:100%;
}
.container{
    float:none;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
/*ví dụ điều chỉnh các phần*/
.nav{
    background-color: chartreuse; 
}
.nav ul li{
    float:left;
    list-style:none ;
    margin-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav ul li{
    color:beige;
    font-size: 18px;
    font-weight: 500;
    float: left;
}
.box2-header{
    float: left;
    display: flex;
    gap:4px;
    padding-top: 15px;
    line-height: 31px;
    height: 40px;
    border-bottom: #e1e8ed 1px solid;
}
